div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}
.red {
  background-color: red;
  height: 0.005px;
  width: 70%;
}

.orange {
  background-color: orange;
  height: 0.5px;
  width: 70%;
}

.yellow {
  background-color: yellow;
  height: 0.5px;
  width: 70%;
}

.green {
  background-color: green;
  height: 0.5px;
  width: 70%;
}

.blue {
  background-color: blue;
  height: 0.5px;
  width: 70%;
}

.indigo {
  background-color: indigo;
  height: 0.5px;
  width: 70%;
}

.violet {
  background-color: violet;
  height: 0.5px;
  width: 70%;
}